<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="sessionManager" ref="sessionManager"></property>
		<property name="realm" ref="userRealm"></property>
	</bean>
	    <!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	<bean id="userRealm" class="cmo.zxw.demo.shiro.UserRealm" >
	      <!-- 配置密码匹配器 -->
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <!-- 加密算法为MD5 -->
                <property name="hashAlgorithmName" value="SHA-256"></property>
                <!-- 加密次数 -->
                <property name="hashIterations" value="2"></property>
            </bean>
        </property>
	<property name="cachingEnabled" value="true"/>
	</bean>
	 <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager"  >
		<property name="globalSessionTimeout" value="14400000"></property>
		<property name="deleteInvalidSessions" value="true" />
		<property name="sessionValidationScheduler" ref="sessionValidationScheduler" />
		 <property name="sessionDAO" ref="sessionDAO"/>
		<!-- <property name="sessionIdCookie" ref="cookie" /> -->
	</bean> 
	
	    <!-- 会话DAO -->
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
    </bean>
	<bean id="sessionValidationScheduler"
          class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
        <property name="sessionManager" ref="sessionManager"/>
        <property name="interval" value="180000"/>
    </bean>
    
    <!-- cookie中的sessionid -->
    <bean id="cookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg name="name" value="zxwsessionid" />
        <property name="path" value="/zxw-demo-web" />
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="-1" />
    </bean>
    <bean id="logout" class="org.apache.shiro.web.filter.authc.LogoutFilter"> 
        <property name="redirectUrl" value="/login.html" /> 
    </bean>

	<bean id="formAuthenticationFilter"   
	class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter">  
	    <property name="usernameParam" value="username"/>  
	    <property name="passwordParam" value="password"/>  
	    <property name="loginUrl" value="/login.html"/>  
	</bean>  
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="loginUrl" value= "/login.html" />
		<property name="unauthorizedUrl" value="/login.html" />
		<property name="securityManager" ref="securityManager" />
		<property name="filterChainDefinitions">
			<value>
			 	/logout = logout 
		 		/login.html = anon
		 		/src/* = anon
		 		/loginAction!login=anon
		 		/index.html = authc
		 		/center.html = authc
			</value>
		</property>
	</bean>
</beans>