<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Demo1</title>
    <style type="text/css">
        .demo1{
            height:300px;
        }
    </style>
</head>
<body>
    
    <div style="height:200px;"></div>
    <div class="demo1">
        方本框：<input type="text" id="time">
    </div>
    <script type="text/javascript" src="../laydate.js"></script>
    <script type="text/javascript">
        laydate({
            elem: '#time'
        });
    </script>
</body>
</html>